.nav-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: 20rem;
    padding-right: 10rem;
    border-bottom: solid 1px black;
}

.search-input{
    font-size: large;
    padding: 12px 20px;
    background-color: #f7f6f6;
    outline: none;
    border: none;
    border-radius: 5px;
    margin-left: 10rem;
}

a{
    padding-right: 2rem;
    size: 3rem ;
    text-decoration: none;
}

.nav-icons{
    width: 2rem;
    height: 2rem;
    color: red;
}